@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 575px) {

  .weather,
  .logo_And_Things :nth-child(3) {
    display: none;
  }
}

body {
  font-family: 'Pattaya';
  font-family: 'Henny Penny';
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom right, #9453A6, #8cBF3F, #f2cc0f, #f2f2f2, #9453A6);
}

h1 {
  font-family: 'Pattaya',
    sans-serif;
}

h2 {
  font-family: 'Henny Penny',
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'Henny Penny',
    sans-serif;
}

h4 {
  font-family: 'Henny Penny',
    sans-serif;
}

h5 {
  font-family: 'Pattaya',
    sans-serif;
}

p,
a {
  font-family: 'Roboto',
    sans-serif;
}

.logo_And_Things {
  display: flex;
  justify-content: space-around;
}

.logo_And_Things img {
  width: 100px;
  height: 100px;
}

.navbar a {
  font-weight: bold;
  font-family: 'Henny Penny';
}

.main_Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-height {
  width: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-image: linear-gradient(to right, #917B80, #8cBF3F, #f2cc0f);

  /* background-image: linear-gradient(to right, #9453A6, #8cBF3F, #f2cc0f); */
}

.navbar-toggler {
  border: 2px solid rgb(0, 0, 0);
}

.footer_Break {
  margin-top: 1em;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 2px;
}


.online {
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
}

.visit_Online {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.copy_Right {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

.facebook {
  background-image: url('../images/main_Images/FaceBook.png');
  background-size: cover;
}

.twitter {
  background-image: url('../images/main_Images/Twitter.png');
  background-size: 110%;
}

.instagram {
  background-image: url('/images/main_Images/Instagram.png');
  background-size: cover;
}

.youtube {
  background-image: url('/images/main_Images/youTube.jpg');
  background-size: cover;
}

.trip_Advisor {
  background-image: url('/images/main_Images/tripAdvisor.png');
  background-size: cover;
}